﻿@page
<div class="container">
    <div class="row">
        <div class="col-6">
            <div>
                <label><b>User</b></label>
                <input type="text" class="form-control" id="userInput" />
            </div>
            <div>
                <label><b>Message</b></label>
                <input type="text" class="form-control" id="messageInput" />
            </div>
            <br />
            <div >
                <input type="button" class="btn btn-outline-primary form-control" id="sendButton" value="Send Message" />
            </div>

        </div>
        <div class="col-6">
            <h4 class="text-center" style="color:cadetblue; text-decoration:underline">Chat Messages</h4>
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>